.navbar {
    background-color: #ffff;
    overflow: hidden;
  }
  
  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar a:hover {
    background-color: #ddd;
  }
  
  .navbar a.active {
    color: #aaa;
    pointer-events: none;
  }
  
  .cor-mega {
    color: #209869;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .cor-timemania {
    color: #00ff48;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .cor-quina {
    color: #260085;
    font-size: 1.2rem;
    font-weight: 600;
  }

  
.cor-mega.active,
.cor-timemania.active,
.cor-quina.active {
  color: #aaa;
  pointer-events: none;
}

  

